<script src="../scripts/homeScript.js"></script>
 <link rel="stylesheet" href="../styles/homeStyle.css"> 

<h1>{{title}}</h1>

Welcome, {{displayName}}! &bull; <button id="logout">Logout</button>

<br><hr><br>

<h2>Territories</h2>
<p>Here are the list of territories</p>

<ul id="myUL">
    {{{territoriesHTML}}}
</ul>