<script src="../scripts/loginScript.js"></script>

<h1>{{title}}</h1>

<form>
    <label type="text">Username</label><br>
    <input id="username" type="text"><br>
    <label type="text">Password</label><br>
    <input id="password" type="password"><br>
</form>

<br>
<div id="validating"></div>
<br>

<br>
<div id="warning" style="color: red;"></div>
<br>
<button id="submit">Submit</button>