<script src="scripts/loginScript.js"></script>

<h1>{{title}}</h1>

<form>
    <label type="text">Username</label><br>
    <input id="username" type="text"><br>
    <label type="text">Password</label><br>
    <input id="password" type="password"><br>

    <br>
    <button id="submit">Submit</button>
</form>